@import "../../cssConfig/mixins";

.main{
  position: fixed;
  display: flex;
  background: black;
  width: 100vw;
  height: 100vh;
}


.content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  overflow-y: auto;
  padding: 0;
}

.webGlContent{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projectInfo{
  position: absolute;
  z-index: var(--zInfoPanel);
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  padding: var(--h-margin-s);
  //@include background1(rgba(0,0,0,0.2), rgba(255,255,255,0), 3);
  &.open{
    display: block;
  }
}
.titles > *{
  display: inline-block;
  padding: var(--text-block-padding);

  color: var(--tColor1);
}
.tTitle{
  &  > h2 {
    color: var(--tColor2);
    background-color: var(--bColor2);
  }
  &  > .date {
    color: var(--tColor1);
    background-color: var(--bColor1);
  }
}
.tSubtitle{
}
.tCredits{
   a{
    text-decoration: underline;
  }
}
