@import "../../cssConfig/mixins";

.main{
}

.panel{
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-end;
}

.projectInfo{
  //position: absolute;
  //right: 0;
  //bottom: 0;
  //left: 0;
  //grid-area: 2 / 1 / 2 / 2;
  display: none;
  padding: var(--h-margin-s);
  //@include background1(rgba(0,0,0,0.2), rgba(255,255,255,0), 3);
  &.open{
    display: block;
  }
}
.titles > *{
  display: inline-block;
  padding: var(--text-block-padding);

  color: var(--tColor1);
}
.tTitle{
  &  > h2 {
    color: var(--tColor2);
    background-color: var(--bColor2);
  }
  &  > .date {
    color: var(--tColor1);
    background-color: var(--bColor1);
  }
}
.tSubtitle{
}
.tCredits{
   a{
    text-decoration: underline;
  }
}
.tTags{
  span{

  }
}