.muxVideoPlayer{
    width: 100%;
    height: 100%;
}
/*seek-live, layer, media-layer, poster-layer, vertical-layer, centered-layer, top, center, bottom, play, button, seek-backward, seek-forward, mute, captions, airplay, pip, cast, fullscreen, playbackrate, volume, range, time, display*/
mux-player::part(button),
mux-player::part(volume range),
mux-player::part(time range),
mux-player::part(time display),
mux-player::part(poster-layer)
{
    display: none!important;
}
mux-player::part(vertical-layer) {
    background-color: transparent;
}