@import "../../cssConfig/variables";
@import "../../cssConfig/fonts";
@import "../../cssConfig/mixins";



html,
body{
  font-family: Teletext50Condensed, Courier, sans-serif;
  text-transform: uppercase;
  text-shadow: var(--text-shadow1);
  font-smooth: never;
  -webkit-font-smoothing: none;
  @include font-size-vh(var(--font-size-m), var(--font-size-m-px));
  line-height: 1.3em;
}
h1,h2,h3,h4,h5,h6{
  @include font-size-vh(var(--font-size-m), var(--font-size-m-px));
  line-height: 1.3em;
}
a{
  text-decoration: none;
  color: var(--tColor2);
  &:hover{
    color: var(--tColorHover);
  }
}