


.templateContent{
  position: relative;
  display: block;
  z-index: var(--zTemplateContent);
}
.video{
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  z-index: var(--zVideoPlayer);
  background-color: black;
}