.main{
  background-color: white;
  ul{
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 32px 32px;
      grid-auto-flow: row;
      grid-template-areas:
    ". . .";

  }
}