@import '../../../cssConfig/mixins';
.container{
  position: relative;
  //right: 0;
  //bottom: 0;
  //left: 0;
  display: none;
  padding: var(--h-margin-s);

  //@include background1(rgba(0,0,0,0.2), rgba(255,255,255,0), 3);
  &.open{
    display: block;
  }
  .contain{
    background-color: var(--bColor2);
    display: flex;
    .loading{
      padding: var(--text-block-padding);
      color: var(--tColor2);

    }
    .playPause{
      padding: var(--text-block-padding);
      min-width: 2.3em;
      & > div{
        @include link;
      }

    }
    .timeline{
      flex: 1;
      position: relative;
      .hLine{
        position: absolute;
        top: 50%;
        right: 0.4em;
        left: 0.4em;
        transform: translateY(-0.05em);
        height: 0.1em;
        background-color: var(--bColor1);
        box-shadow: var(--box-shadow1);
      }
      .sliderContainer{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0.4em;
        left: 0.4em;
      }
      .sliderContent{
        position: relative;
        width: 100%;
        height: 100%;
      }
      .slider{
        width: 0.6em;
        background-color: var(--bColor1);
        box-shadow: var(--box-shadow1);
        top: 0;
        bottom: 0;
        &:focus{
          background-color: var(--bColorHover);
        }
      }
    }
    .nextButton{
      .nextContainer{
        display: flex;
        height: 100%;
        padding: 0 0.3em 0 0.1em;
        align-items: center;
        @include link_svg;
        svg{
          display: block;
          width: 0.46em;
          height: auto;
          @include svg-shadow;
        }
      }
    }
    .volume{
      .speakerContainer{
        display: flex;
        height: 100%;
        padding: 0 0.2em;
        align-items: center;
        @include link_svg;
        svg{
          display: block;
          width: 0.8em;
          height: auto;
          @include svg-shadow;
        }
      }
    }
    .numbers{
      padding: var(--text-block-padding);
      color: var(--tColor2);
    }
  }
}