@font-face {
  font-family: Teletext50;
  src: url('../../static/webfonts/Teletext50.woff2') format('woff2'),
  url('../../static/webfonts/Teletext50.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Teletext50Condensed;
  src: url('../../static/webfonts/Teletext50-Condensed.woff2') format('woff2'),
  url('../../static/webfonts/Teletext50-Condensed.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
