
@mixin background1($color1, $color2, $size) {
  background-image: repeating-conic-gradient(#{$color1} 0% 25%, #{$color2} 0% 50%);
  background-position: 0 0, #{$size}px #{$size}px;
  background-size: #{$size*2}px #{$size*2}px;
  background-color: #{$color2};
}

@mixin halo($color){
  text-shadow: 0 0 .1em rgba($color, 0.6);
}

@mixin link {
  cursor: pointer;
  color: var(--tColor2);
  &:hover {
    color: var(--tColorHover);

  }
}
@mixin link_svg{
  cursor: pointer;
  & svg * {
    fill: var(--tColor2);

  }
  &:hover svg * {
    fill: var(--tColorHover);
  }
}
